{% extends "home/layout.html" %}
{% load static %}


{% block body %}

    <section class="aboutHero">
        <div class="aboutHeroText">
            <h1><a href="/home/">Home</a> / About Us</h1>
        </div>
    </section>
    
    <section class="aboutUsMain">
            <img src="{% static 'home/images/aboutUsHero.jpg'%}" alt="About Us Hero" loading="lazy">
            <article class="aboutUsText">
                <h1><span>Our St</span>ory</h1>
                <p><span>FoodLo</span> was created to provide Karachi residents with high-end, lively, and current flavours. We wanted to make sure that everyone had access to delicious, authentic food that was tailored to our national palate, so we created locations in all of the city's major dining districts.
                The menu offers a wide range of inventive dishes produced with high-quality ingredients and surprisingly flavorful combinations, all at reasonable prices. foodlo focuses on classic recipes with a modern twist, incorporating a wide range of unique and diverse ingredients.
            </p>
            </article>
    </section>



{% endblock %}