{% extends "home/layout.html" %}
{% load static %}

{% block body %}

<!-- Cart Section -->

    <h1 id="cartTopHeader">Shopping Cart</h1>
    <section class="cartProductContainer">
        <div class="cartContainer">
            <div class="leftCartChild">
                <div class="leftCartTop">
                    <h1 class="cartHeader">Cart Items</h1>
                </div>
              <!--  <div class="leftCartBottom cartProduct">
                    <div class="bottomFirst">
                        <img src="../images/neapolitan-pizza.jpg" alt="">
                    </div>
                    <div class="bottomSecond">
                        <h3 class="cartProductName">Neapolitan Pizza</h2>
                        <p class="cartProductQty">Quantity: <button class="subtractQty">-</button> 1 <button class="addQty">+</button> </p>
                        <div class="btnAndPrice">
                            <button class="removeItemFromCart">Remove Item</button>
                            <div class="cartProductPrice">$14.99</div>
                        </div>
                    </div>
                </div>  
                <div class="cartProductSeperator"></div> -->
              <!--{% if cartitem in carts %}-->
                <div></div>
              <!--{% else %}-->
                {% for cartitem in cart %}
                
                  <div class="leftCartBottom cartProduct">
                    <div class="bottomFirst">
                        <img src="{{ cartitem.foodimg }}" alt="">
                    </div>
                    <div class="bottomSecond">
                        <h3 class="cartProductName">{{ cartitem.foodname}}</h3>
                        <p class="cartProductQty">Quantity: 
                          <div class="cartBtnContainer">
                            <div class="tempContainer">
                              <a><button class="subtractQty" pid="{{cartitem.id}}">-</button></a> 
                              <p class="cartQty">{{ cartitem.quantity }} </p>
                              <a><button class="addQty" pid="{{cartitem.id}}">+</button></a>
                            </div>
                          </div>
                        </p>
                        <div class="btnAndPrice">
                            <button class="removeItemFromCart" pid="{{cartitem.items.id}}">Remove Item</button>
                            <div class="cartProductPrice">${{ cartitem.price }}</div>
                        </div>
                    </div>
                </div>
              {% endfor %}
             <!-- {% endif %}-->
            </div>
            <div class="rightCartChild">
                <div class="rightCartTop">
                    <h2 class="rightCartHeader">Cart Totals</h2>
                </div>
                <div class="rightCartMiddle">
                    <div class="cartAmount">
                        <h5>Amount</h5>
                        <p>$<span id="amtnoshipping">{{amount}}</span></p>
                    </div>
                    <div class="cartShipping">
                        <h5>Shipping Fee</h5>
                        <p>${{shipping_amount}}</p>
                    </div>
                </div>
                <div class="rightCartBottom">
                    <p><strong>Total</strong><span>(Including VAT)</span></p>
                    <p>$<span id="amtwithshipping">{{totalamount}}</span></p>
                </div>
                <div class="checkoutButtonContainer">
                    <a href="{% url 'checkout' %}"><button class="checkoutButton">Checkout</button></a>
                </div>
            </div>
        </div>
    </section>


    {% endblock %}z  