{% extends "home/layout.html" %}
{% load static %}

{% block body %}

    <!-- Change Password Page -->
    <section class="changePassword">
        <div class="leftcp">
            <div class="border">
                <p>Welcome {{user | capfirst}}</p>
                <button>Change Password</button>
            </div>
        </div>
        <div class="rightcp">
            <p class="rightcpheader">
                Change Password
            </p>
            <form method="post" class="cpform">
                {% csrf_token %}
                
                {% for fm in form %}
                    <label class="">{{fm.label}}</label>
                    <div>
                        <div>{{ fm }}</div> 
                        <small>{{ fm.errors|striptags }}</small>
                        <br>
                    </div>
                {% endfor %}
                
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}

                <button class="cpbtn" type="submit">Change password</button>
      
            </form>
        </div>
    </section>

{% endblock %}
