{% extends "home/layout.html" %}
{% load static %}

{% block body %}

<!-- Orders Section -->
<section class="changePassword">
        <div class="leftcp">
            <div class="border">
                <p>Thanks {{user}}</p>
                <button>Orders</button>
            </div>
        </div>
        <div class="rightcp">
            <p class="rightcpheader">
                Orders
            </p>
            <section class="userorder">
                <div class="uoheader">
                    <p class="orderNumber">Order Id: {{ orderid }}</p>
                    <p class="orderStatus">Status: {{status}}</p>
                </div>
              
                <div class="uoproducts">
                  
                  {% for prod in incheckout %}  
                  <div class="uoproductcard">
                        <div class="uoproductimage">
                            <img src="{{ prod.foodimg }}" alt="" loading="lazy">
                        </div>
                        <div class="uoproducttext">
                            <p class="uoprodname">Product: {{ prod.foodname}} </p>
                            <p class="uoprodqty">Quantity: {{ prod.quantity }}</p>
                            <p class="uoprice">Price: ${{ prod.price }}</p>
                        </div>
                    </div>
                  
                  {% endfor %}
                </div>
              
                <div class="uofooter">
                    Order Amount: ${{total_price}}
                </div>
            </section>
        </div>
    </section>
    <script type="text/javascript">
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate',function (){
            history.pushState(null, null, document.URL);
        });
    
    </script>
    {% endblock %}