{% extends "home/layout.html" %}
{% load static %}

        <!-- Product Specific Page -->
{% block body %}
        <section class="productSpecific">
            <div class="psContainer">
                <div class="leftpsgridchild">
                    <img id="firstImg" src="{{ product.foodimg.url }}" alt="" loading="lazy">
                </div>
                <div class="rightpsgridchild">
                    <h1 id="productName">{{ product.foodname }}</h1>
                    <p id="productDesc"><span>Description:</span>{{ product.fooddesc }}   </p>
                    <h2 id="productPrice">$<!--10.99-->{{ product.price }}</h2>
                    <div class="psbtnwrapper">
                                    
                      <form action='/addtocart'>
                        <input type="hidden" class="psbtn_input" value= "{{ product.id }}" name="prod_id" >
                        <button class="psbtn" type="submit"  id="addToCart">Add To Cart <i class="fa-solid fa-bag-shopping"></i></button>
                  
                      </form>

                    </div>
                    <h5 id="prodCategory">Category: {{ product.foodcategory }} </h5>
                </div>
            </div>
        </section>

{% endblock %}