{% extends "home/layout.html" %}
{% load static %}

{% block body %}

    <!-- Product Page -->
    <section class="products">
        <div class="productsTop">
            <div class="categoryButtonsContainer" style="margin-right: 0">
                <button class="categoryBtn"><a style="text-decoration: none; color: black;" href="{% url 'products' %}">All</a></button>
                <button class="categoryBtn"><a style="text-decoration: none; color: black;" href="{% url 'productsfilter' 1 %}">Pizza</a></button>
                <button class="categoryBtn"><a style="text-decoration: none; color: black;" href="{% url 'productsfilter' 2 %}">Pasta</a></button>
                <button class="categoryBtn"><a style="text-decoration: none; color: black;" href="{% url 'productsfilter' 3 %}">Milk Shake</a></button>
            </div>
        </div>
        <div class="productsBottom">
            {% for prod in products %}
            <div class="card pdCard card-16">
                <div class="imgIContainer">
                    <a href="{% url 'productspecific' prod.id %}"><img src="/static/home/images/magnifying-glass.png" id="mglass" alt=""></a> 
                    <div class="prodImage">
                        <img  loading="lazy" style="width: 25rem; height: 25rem;" src="{{ prod.foodimg.url }}" alt="" class="center" id="pImage">
                    </div>
                </div></a>
                <div class="card-text">
                   <a style="text-decoration:none; color:black; cursor: default;" href="{% url 'productspecific' prod.id %}"> <div class="imgName">{{ prod.foodname }}</div></a>
                    <div class="imgPrice">${{ prod.price }}</div>
                </div>
            </div>
          {% endfor %}
    </section>

{% endblock %}