{% extends "home/layout.html" %}
{% load static %}

{% block body %}

    <!-- Product Page -->
    <section class="products">
        <div class="productsTop">
            <div class="categoryButtonsContainer" style="margin-right: 0">
                <button class="categoryBtn"><a style="text-decoration: none; color: black;" href="{% url 'products' %}">All</a></button>
                <button class="categoryBtn"><a style="text-decoration: none; color: black;" href="{% url 'productsfilter' 1 %}">Pizza</a></button>
                <button class="categoryBtn"><a style="text-decoration: none; color: black;" href="{% url 'productsfilter' 2 %}">Pasta</a></button>
                <button class="categoryBtn"><a style="text-decoration: none; color: black;" href="{% url 'productsfilter' 3 %}">Milk Shake</a></button>
            </div>
        </div>
        <div class="productsBottom">
<!--            <div class="card pdCard card-1">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">    
                    <div class="prodImage">
                        <img src="/static/home/images/zinger.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Mighty Zinger</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
            <div class="card pdCard card-2">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">
                    <div class="prodImage">
                        <img src="/static/home/images/pasta.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Nonna's Pasta</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
            <div class="card pdCard card-3">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">
                    <div class="prodImage">
                        <img src="/static/home/images/milkshake.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Milkshake</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
            <div class="card pdCard card-4">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">
                    <div class="prodImage">
                        <img src="/static/home/images/zinger.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Mighty Zinger</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
            <div class="card pdCard card-5">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">
                    <div class="prodImage">
                        <img src="/static/home/images/pasta.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Nonna's Pasta</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
            <div class="card pdCard card-6">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">
                    <div class="prodImage">
                        <img src="/static/home/images/milkshake.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Milkshake</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
            <div class="card pdCard card-7">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">
                    <div class="prodImage">
                        <img src="/static/home/images/zinger.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Mighty Zinger</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
            <div class="card pdCard card-8">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">
                    <div class="prodImage">
                        <img src="/static/home/images/pasta.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Nonna's Pasta</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
            <div class="card pdCard card-9">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">
                    <div class="prodImage">
                        <img src="/static/home/images/milkshake.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Milkshake</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
            <div class="card pdCard card-10">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">
                    <div class="prodImage">
                        <img src="/static/home/images/zinger.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Mighty Zinger</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
            <div class="card pdCard card-11">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">
                    <div class="prodImage">
                        <img src="/static/home/images/pasta.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Nonna's Pasta</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
            <div class="card pdCard card-12">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">
                    <div class="prodImage">
                        <img src="/static/home/images/milkshake.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Milkshake</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
            <div class="card pdCard card-13">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">
                    <div class="prodImage">
                        <img src="/static/home/images/zinger.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Mighty Zinger</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
            <div class="card pdCard card-14">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">
                    <div class="prodImage">
                        <img src="/static/home/images/pasta.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Nonna's Pasta</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
            <div class="card pdCard card-15">
                <div class="imgIContainer">
                    <img src="/static/home/images/magnifying-glass.png" id="mglass" alt="">
                    <div class="prodImage">
                        <img src="/static/home/images/milkshake.png" alt="" class="center" id="pImage">
                    </div>
                </div>
                <div class="card-text">
                    <div class="imgName">Milkshake</div>
                    <div class="imgPrice">$8</div>
                </div>
            </div>
 -->
          {% for prod in products %}
             <div class="card pdCard card-16">
                <div class="imgIContainer">
                    <a href="{% url 'productspecific' prod.id %}"><img src="/static/home/images/magnifying-glass.png" id="mglass" alt=""></a> 
                    <div class="prodImage">
                        <img style="width: 25rem; height: 25rem;" src="{{ prod.foodimg.url }}" alt="" class="center" id="pImage">
                    </div>
                </div></a>
                <div class="card-text">
                   <a style="text-decoration:none; color:black; cursor: default;" href="{% url 'productspecific' prod.id %}"> <div class="imgName">{{ prod.foodname }}</div></a>
                    <div class="imgPrice">${{ prod.price }}</div>
                </div>
            </div>
          {% endfor %}
    </section>

{% endblock %}