{% extends "home/layout.html" %}
{% load static %}

{% block body %}
  <!-- Login Form -->
        <div class="loginForm">
            <div class="loginFormContainer">
                <div id="formHeading">
                    <h1><span>Lo</span>gin</h1>
                </div>
                    
                <div class="form">
                    <form action="" method="post">
                      {% csrf_token %}
                      {% for fm in form %}
                        <div class="input-field">
                          {{ fm }} 
                          <small>
                            {{ fm.errors|striptags }}
                          </small>
                          <br>  
                        </div>

                      {% endfor %}
                      {% if form.non_field_errors %}
                        <div class="non-field-errors">
                          {% for error in form.non_field_errors %}
                            <p class="error-message">{{ error }}</p>
                          {% endfor %}
                        </div>
                      {% endif %}
                      <p class="forgotPass">
                        <a href="{% url 'password_reset' %}">Forgot password?</a>
                      </p>
                      
                      <div class="loginFooter">
                          <input id="loginNow" type="submit" value="Login Now">
                          <p id="registerLink">
                            Not a member? 
                            <a href="{% url 'register' %}">
                              Register Now
                            </a>
                          </p>
                      </div> 

                    </form>

                  </div>
            
              </div>
            
        </div>
{% endblock %}
