{% extends 'home/layout.html' %}

{% block body %}

<!-- Password Reset Section -->
<section class="changePassword">
    <div class="leftcp">
        <div class="border">
            <p>Welcome </p>
            <button>Password Reset</button>
        </div>
    </div>
    <div class="rightcp">
        <p class="rightcpheader">Password Reset</p>
        <h2>Password reset complete</h2>
        <p class="passResetLink">Your password has been successfully reset. You can now <a href="{% url 'login' %}">login</a> with your new password.</p>
            
    </div>
</section>
<style>
    .passResetLink a {
        display: inline;
        text-decoration: none;
        color: rgb(126, 77, 47);
        font-weight: 500;
     
    }
   </style>
<script type="text/javascript">
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate',function (){
        history.pushState(null, null, document.URL);
    });

</script>

{% endblock %}
