
{% extends 'home/layout.html' %}

{% block body %}

<!-- New Password Confirmation Section-->
<section class="changePassword">
    <div class="leftcp">
        <div class="border">
            <p>Welcome </p>
            <button>Password Reset</button>
        </div>
    </div>
    <div class="rightcp">
        <p class="rightcpheader">Confirm Password Reset</p>
        <form method="post" class="cpform">
            {% csrf_token %}
            {% for fm in form %}
            <label class="">{{fm.label}}</label>
            <div>
                <div>{{ fm }}</div> 
                <small>{{ fm.errors|striptags }}</small>
                <br>
            </div>
        {% endfor %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
    
            <button type="submit" class="cpbtn">Reset my password</button>
        </form>
        </div>
</section>
{% endblock %}