{% extends 'home/layout.html' %}

{% block body %}

<!-- Password Reset Email Sent Section-->
<section class="changePassword">
    <div class="leftcp">
        <div class="border">
            <p>Welcome </p>
            <button>Password Reset</button>
        </div>
    </div>
    <div class="rightcp">
        <p class="rightcpheader">Password Reset</p>
        <h2>Password reset email sent</h2>
        <p>Check your inbox for instructions on how to reset your password.If you don't find any email in inbox, check your spam folder.</p>
        
    </div>
</section>

{% endblock %}
