{% extends 'home/layout.html' %}

{% block body %}

<!-- Password Reset Section-->
<section class="changePassword">
    <div class="leftcp">
        <div class="border">
            <p>Welcome </p>
            <button>Password Reset</button>
        </div>
    </div>
    <div class="rightcp">
        <p class="rightcpheader">Password Reset</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="cpbtn">Reset my password</button>
        </form>
        </div>
</section>
{% endblock %}
