{% extends "home/layout.html" %}
{% load static %}

{% block body %}

<!-- Registration Form -->
        <div class="registerForm">
            <div class="registerFormContainer">
                <div id="formHeading">
                    <h1><span>Re</span>gistration</h1>
                </div>
                    <div class="form">
                    <form action="" method="post">
              
                      {% csrf_token %}
                      {% for fm in form %}
                        <div>
                          <div class="input-field">
                            {{ fm }}
                          </div>
                          <small class="error-message">
                            {{ fm.errors|striptags }}
                          </small>
                        </div>
                      {% endfor %}
                      
                      <div class="registerFooter">
                          <div class="checkbox">
                              <input type="checkbox" name="termsCheckbox" id="termsCheckbox" required>
                              <label class=".cblabel" for="termsCheckbox">I accept all <a>terms & conditions</a></label>
                          </div>
                          <input id="registerNow" type="submit" value="Register Now" onclick="<!--window.location.reload()--">
                          <p id="loginLink">
                            Already have an account? 
                            <a href="{% url 'login' %}">
                              Login Now
                            </a>
                          </p>
        
                      </div> 
                      {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                          <p>{{ error }}</p>
                        {% endfor %}
                      {% endif %}
                    </form>
                </div>
            </div>
        </div>

  {% endblock %}

