@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');  

.changePassword {
    display: grid;
    /* font-family: 'Poppins', sans-serif; */
    grid-template-columns: 1fr 2fr;
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
    gap: 1rem;
}

.leftcp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}  

.leftcp button {
    background-color: rgb(126, 77, 47);
    color: white;
    border: none;
    width: 15rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
}

.border {
    border-right: 1px solid black;
    padding-right: 2rem;
    height: 42rem;
}

.leftcp p {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.cpform {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    /* justify-content: center; */
    /* align-items: flex-start; */
}

.rightcpheader {
    border-bottom: 1px solid black;
    max-width: 50rem;
    font-size: 3rem;
    padding-bottom: 1rem;
}

.cpbtn {
    max-width: 8rem;
    margin-top: 2rem;
    background-color: #e7d3d3;
    padding: 0.7rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.cpbtn:hover {
    filter: brightness(70%);
    transition: 0.5s ease-in-out;
}

label {
    margin: 2rem 0 0rem 0;
}

input {
/*     max-width: 50rem; */
    outline: none;
    height: 1rem;
    padding: 1rem;
}

@media(max-width:992px) {
    .changePassword {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .border {
        display: flex;
        flex-direction: column;
        border: none;
        height: fit-content;
        align-items: center;
    }
    .rightcp {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }
}