@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');  

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.cardPayment-paypal-display {
    display:block;
}
.cardPayment-paypal-hidden {
    display:none;
}
#checkoutMainHeading {
    text-align: center;
    font-size: 7rem;
    margin: 0;
    margin-top: 3rem;
}

.deliverHeading {
    font-size: 2rem;
    margin:2rem 0 0 0;
}

.checkoutContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    width: 110rem;
    margin: auto;
}

.checkoutMain {
    padding: 5rem;
}

/* Left Side */

.nameContainer {
    display: flex;
    justify-content: left;
}

.checkoutHeader {
    font-size: 3.5rem;
}

.checkoutInputs {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.5rem;
}

/* Right Side */

.orderSummaryHeader {
    font-size: 3.5rem;
}

.orderSummaryCard {
    border: 0.2rem solid #cdcfd0;
    background-color: #f8f9fa;
    padding: 2rem;
}

.orderSummaryCardHeader {
    font-size: 2.5rem;
}

.orderSummaryCardHeader p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.orderSummaryProduct {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    margin: 1rem 0 1rem 0;
}

.orderItemSeperator {
    border-bottom: 0.2rem solid #e3e7e8;
    display: none;
}

.placeOrderBtn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.online-form button {
    height: 5rem;
    font-size: 16px;
    font-weight: 500;
    background-color: black;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 0.3rem;
    font-family: 'Poppins';
}

.osTotal {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1.5rem;
}

.ospName {
    width: 15rem;
}

.ospQty {
    width: 2rem;
}

.ospPrice {
    width: 5rem;
}

.seperator {
    border-bottom: 0.2rem solid #e3e7e8;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.paymentHeader {
    font-size: 2.5rem;
}
#checkout-form button {
margin-top:3rem;

}
.checkout-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
    font-family: 'Poppins';
  }
.checkout-form-hidden{
    display: none;
  }
.online-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
  }
.online-form-hidden{
    display: none;
  }
#card-error {
    color: rgb(105, 115, 134);
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    margin-top: 12px;
}
  
#card-element {
    border-radius: 4px 4px 0 0 ;
    padding: 1rem;
    border: 1px solid rgba(50, 50, 93, 0.1);
    height: 2rem;
    font-family: Poppins;
    background: white;
}
#checkout-button {
    background-color: black;
    color: #ffffff;
    font-family: Poppins;

    border-radius: 0 0 4px 4px;
    border: 0;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: block;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
    width: 100%;
}
  #checkout-button:hover {
    filter: contrast(115%);
  }
  #checkout-button:disabled {
    opacity: 0.5;
    cursor: default;
  }
   
  /* spinner/processing state, errors */
   .spinner,
  .spinner:before,
  .spinner:after {
    border-radius: 50%;
  }
  .spinner {
    color: #ffffff;
    font-size: 22px;
    text-indent: -99999px;
    margin: 0px auto;
    position: relative;
    width: 20px;
    height: 20px;
    box-shadow: inset 0 0 0 2px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .spinner:before,
  .spinner:after {
    position: absolute;
    content: "";
  }
  .spinner:before {
    width: 10.4px;
    height: 20.4px;
    background: #5469d4;
    border-radius: 20.4px 0 0 20.4px;
    top: -0.2px;
    left: -0.2px;
    -webkit-transform-origin: 10.4px 10.2px;
    transform-origin: 10.4px 10.2px;
    -webkit-animation: loading 2s infinite ease 1.5s;
    animation: loading 2s infinite ease 1.5s;
  }
  .spinner:after {
    width: 10.4px;
    height: 10.2px;
    background: #5469d4;
    border-radius: 0 10.2px 10.2px 0;
    top: -0.1px;
    left: 10.2px;
    -webkit-transform-origin: 0px 10.2px;
    transform-origin: 0px 10.2px;
    -webkit-animation: loading 2s infinite ease;
    animation: loading 2s infinite ease;
  }
  
  @-webkit-keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes loading {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

.paymentOptions {
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: flex-start;
}
.paymentOptions p label {
    margin:-4rem;
    display: flex;
    width:55%;
    padding:0;
    flex-direction: row;
    align-items: center;
}
.paymentOptions p {
    display: flex;
    width:55%;
    font-size:1rem;
    height:3rem;
    padding:0;
    margin:0;
    flex-direction: row;
    align-items: center;

}

.paymentOptions p input[type="radio"]{
    margin-top:1rem;
    margin-bottom:1rem;
    height:2rem;
    transform: scale(0.8);
    margin-left:-5rem;
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}
.billingAddress input[type="text"] {
    width: 95%;  
    height: 2rem;
    border: 1px solid rgba(200,200,200,0.3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
}
.cardPayment {
    padding-top:1rem;
    padding-bottom:1rem;
}

.terms-conditions {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
    padding-top:1rem;
}

#online:checked {
    accent-color: black;
    background-color: black;
} 
#cod:checked {
    accent-color: black;
    background-color: black;
}

@media(max-width:992px) {
    .checkoutContainer {
        display: block;
        width: 100%;
    }
    .orderSummaryCard {
        background-color: transparent;
        border: none;
    }
}

@media(max-width:660px) {
    .nameContainer {
        flex-direction: column;
    }
    .paymentOptions p label {
        margin:-8rem;
        width:100%;
    }
     .paymentOptions p {
        width:85%;
    } 
    .paymentOptions p input[type="radio"]{
        margin-left:-7rem;
    }
    
}
@media(max-width:590px) {
    .paymentOptions p label {
        margin:-6rem;
        width:100%;
    }
     .paymentOptions p {
        width:85%;
    } 
    .paymentOptions p input[type="radio"]{
        margin-left:-5rem;
    }
    
}

@media(max-width:460px) {
    .placeOrderBtn button {
        width: 100%;
    }
    .checkoutHeader p {
        font-size: 3rem;
    }
    .paymentOptions p label {
        margin:-4rem;
        width:100%;
    }
     .paymentOptions p {
        width:85%;
    } 
    .paymentOptions p input[type="radio"]{
        margin-left:-3rem;
    }

}

@media(max-width:374px) {
    .orderSummaryProduct {
        flex-direction: column;
    }
    .orderItemSeperator {
        display: block;
    }
    input {
        width: 15rem;
    }    
    .paymentOptions p label {
        margin:-2rem;
        width:100%;    
    }
     .paymentOptions p {
        width:100%;
    } 
    .paymentOptions p input[type="radio"]{
        margin-left:-2.5rem;
    }

}

 